@import "@esri/calcite-components/dist/calcite/calcite.css";
@import "@arcgis/core/assets/esri/themes/light/main.css";
@import "@arcgis/coding-components/dist/arcgis-coding-components/arcgis-coding-components.css";

html,
body {
  background-color: var(--calcite-ui-foreground-2);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.editor-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  min-height: 400px;
  position: relative;
}

arcgis-arcade-editor {
  flex: 1 1 auto;
}

calcite-scrim {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
