@import "~@esri/calcite-components/dist/calcite/calcite.css";
@import "~@arcgis/coding-components/dist/arcgis-coding-components/arcgis-coding-components.css";

html,
body {
  background-color: var(--calcite-ui-foreground-2);
}

.editor-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 2rem;
  height: 40vh;
  min-height: 400px;
  position: relative;
}

arcgis-arcade-editor,
calcite-scrim {
  position: absolute;
  top: 0;
  left: 0;

}

calcite-scrim {
  z-index: 10;
}